DB_URL=mongodb+srv://file_sure:Mf2kmWrdhyNWQ8LI@cluster0.pekpvn6.mongodb.net/filesure?retryWrites=true&w=majority&appName=Cluster0
PORT=5000

JWT_EXPIRES_IN='1d'
JWT_SECRET="svgbklnjbdfnhjbdflbndfbnfdkjbnvjkfdbnvjdbvfd"